:root{
    --main-admin:#FFB647;
}

aside .content-admin__all__controler-admin__info-product__nav__price.controller-admin{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

aside .content-admin__all__controler-admin__info-product__nav__price.controller-admin input{
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
}

aside .content-admin__all__controler-admin__info-product__nav__price.controller-admin .input-dele{
    background-color: #DB4830;
    color:#fff
}

aside .content-admin__all__controler-admin__info-product__nav__price.controller-admin .input-fix{
    background-color: #3330DB;
    color:#fff
}

aside .content-admin__all__controler-admin__info-product__nav__price.controller-admin .input-fix:hover,
aside .content-admin__all__controler-admin__info-product__nav__price.controller-admin .input-dele:hover{
    opacity: 0.6;
    cursor: pointer;
}




#content-admin{}

#content-admin .content-admin__all{
    display: flex;
}


#content-admin article{
    width: 15%;
    box-shadow: 0 0 5px ;
}



#content-admin article .content-admin__all__list-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-admin article .content-admin__all__list-nav img{
    width: 80px;
    margin-top: 20px;
}


#content-admin article .content-admin__all__list-nav h2{
    color:var(--main-admin);
    text-transform: uppercase;
    margin: 20px 0;
}


#content-admin article .content-admin__all__list-nav ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    list-style: none;
}

#content-admin article .content-admin__all__list-nav ul a.active-admin{
    color: var(--main-admin);
}

#content-admin article .content-admin__all__list-nav ul a {
    display: flex;
    align-items: center;
    gap:10px
}

#content-admin article .content-admin__all__list-nav ul a:hover{
    color:var(--main-admin)
}



#content-admin .content-admin__all__list-nav__help{
    align-self: flex-end;
    margin-right: 20px;
}

#content-admin .content-admin__all__list-nav__help a{
    display: flex;
    gap:5px;
    margin-top: 100px;
    margin-bottom: 20px;
}

#content-admin .content-admin__all__list-nav__help a:hover{
    opacity: 0.5;
}



#content-admin aside{
    width: 85%;
    padding: 20px;
    background-color: #F5F5F5;

}

aside .content-admin__all__controler-admin{
    margin-top: 50px;
}

aside .content-admin__all__controler-admin__search-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


aside .content-admin__all__controler-admin__search-all__search{
    position: relative;
}

aside .content-admin__all__controler-admin__search-all__search label{
    display: block;
    font-size: 24px;
    color: var(--main-admin);
    margin-bottom: 10px;
}

aside .content-admin__all__controler-admin__search-all__search input{
    width: 500px;
    height: 40px;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
}


aside .content-admin__all__controler-admin__search-all__search input:focus{
    outline: 1px solid var(--main-admin);
}


aside .content-admin__all__controler-admin__search-all__search button{
    position: absolute;
    height: 40px;
    padding: 0 30px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ccc;
    right: 0;
}

aside .content-admin__all__controler-admin__search-all__search button:hover{
    background-color: var(--main-admin);
    color:#fff;
    cursor: pointer;
}


aside .content-admin__all__controler-admin__search-all__bell-admin{
    display: flex;
    gap:5px
}

aside .content-admin__all__controler-admin__search-all__bell-admin__bell{
    background-color: #fff;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: relative;
    transition: all 0.2s ease;
}


aside .content-admin__all__controler-admin__search-all__bell-admin__bell:hover{
    background-color: var(--main-admin);
    color:#fff
    
}


aside .content-admin__all__controler-admin__search-all__bell-admin__bell small{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    top: 0;
    right: 0;
}



aside .content-admin__all__controler-admin__search-all__bell-admin img{
    width: 52px;
    height: 52px;
    border-radius: 3px;
}


aside .content-admin__all__controler-admin__search-all-product{
    display: flex;
    gap:18px;
    align-items: center;
    margin-top: 40px;
}


aside .content-admin__all__controler-admin__search-all-product__product{
    width: 266px;
    height: 50px;
}


aside .content-admin__all__controler-admin__search-all-product__product select{
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
}



aside .content-admin__all__controler-admin__search-all-product__product label{
    display: block;
    margin-bottom: 6px;
}

aside .content-admin__all__controler-admin__search-all-product__product input{
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;  
    font-size: 16px;
    border:1px solid #000

}

aside .content-admin__all__controler-admin__search-all-product__product__search{
    margin-top: 26px;
    
}

aside .content-admin__all__controler-admin__search-all-product__product__search input{
    border: none;
    background-color: #FFB647;
    color: #fff;
    width: 150px;
    padding: 14px 12px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

aside .content-admin__all__controler-admin__search-all-product__product__search input:hover{
    opacity: 0.5;
    cursor: pointer;
}


aside .content-admin__all__controler-admin__info-product{
    padding: 40px 20px;
    background-color: #fff;
    margin-top: 40px;
}


aside .content-admin__all__controler-admin__info-product__nav.first{
    margin-bottom: 40px;
}

aside .content-admin__all__controler-admin__info-product__nav.second{
    grid-template-columns: 1fr 2fr 1fr;

}

aside .content-admin__all__controler-admin__info-product__nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}


aside .content-admin__all__controler-admin__info-product__nav input[type="checkbox"]{
    height: 20px;
    width: 20px;
    cursor: pointer;
}



aside .content-admin__all__controler-admin__info-product__nav h3{
    font-size: 20px;
}

aside .content-admin__all__controler-admin__info-product__nav p{
    font-size: 16px;
}


aside .content-admin__all__controler-admin__info-product__nav__check-id
{
    display: grid;
    grid-template-columns: 15px 140px;
}


aside .content-admin__all__controler-admin__info-product__nav__check-id{
    gap:15px
}

aside .content-admin__all__controler-admin__info-product__nav__desc{
    display: grid;
    grid-template-columns:repeat(3,200px);
}



aside .content-admin__all__controler-admin__info-product__nav__desc{

}

aside .content-admin__all__controler-admin__info-product__nav__price{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}







@media screen and (max-width:1024px) {
    #content-admin aside{
        padding: 10px;
    }

    aside .content-admin__all__controler-admin__search-all-product{
        gap:20px
    }

    aside .content-admin__all__controler-admin__info-product__nav{
        /* grid-template-columns:140px 2fr 200px */
        align-items: center;
    }


    aside .content-admin__all__controler-admin__info-product__nav__check-id{
        gap: 10px;
    }



    aside .content-admin__all__controler-admin__info-product__nav h3{
        font-size: 16px;
    }
    
    aside .content-admin__all__controler-admin__info-product__nav p{
        font-size: 14px;
    }

    aside .content-admin__all__controler-admin__info-product__nav__desc{
        grid-template-columns:repeat(3,136px);
        text-align: center;
    }



    aside .content-admin__all__controler-admin__info-product__nav__price{
        grid-template-columns:repeat(2,105px);
        text-align: center;
    }



    aside .content-admin__all__controler-admin__info-product__nav.controller-admin-all{
        align-items: flex-start;
    }


}