*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root{
    --main-color:#FFCB05;
    --text-color:#9C623C;

}

a{
    text-decoration: none;
    color:#000
}

#main{}


/* Begin header */

#main header{
    background-color: #EFEEEC;
    border-bottom: 2px solid var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: all 0.2 ease;
}


/* Hiệu ứng cuộn trang header */


/* end hiệu ứng cuộn trang header */


#header-page{
    display: flex;
    align-items: center;
}                       




#header-page .header-page__logo{
    margin-left: 100px;
}

#header-page .header-page__logo img{
    width: 80px;
    height: 80px;
}


#header-page .header-page__nav{
    display: flex;
    list-style: none;
    margin-left: 50px;
}

#header-page .header-page__nav li{
}

#header-page .header-page__nav li a{
    font-size: 1rem;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--text-color);
    font-weight:550;
}

#header-page .header-page__nav li a:hover{
    border-bottom: 2px solid var(--main-color);

}


#header-page .header-page__search{
    margin: 0 50px;
    position: relative;
}

#header-page .header-page__search input{
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 6px 12px;
}




#header-page .header-page__search span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}



#header-page .header-page__info{
    display: flex;
}


#header-page .header-page__info .header-page__info__login,
#header-page .header-page__info .header-page__info__cart{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    color:var(--text-color)

}

#header-page .header-page__info .header-page__info__login:hover,
#header-page .header-page__info .header-page__info__cart:hover{
    border-bottom: 2px solid var(--main-color);
}

/* End header */


/* Begin banner */

.mb__banner-page__all__first{
    display: none;
}


#banner-page .banner-page__all{
    margin-top: 84px;
}

#banner-page .mb__banner-page__all__first{
    display: none;
}


#banner-page .banner-page__all__third,
#banner-page .banner-page__all__second,
#banner-page .banner-page__all__first{
    position: relative;
}

#banner-page .banner-page__all__first__logo{
    position: absolute;
    top: 20px;
    left: 80px;
}

#banner-page .banner-page__all__first__buy{
    position: absolute;
    top: 66%;
    right: 52%;
    transform: translateX(-50%);
}

#banner-page .banner-page__all__third__buy button,
#banner-page .banner-page__all__first__buy button{
    border: none;
    padding: 12px 58px;
    font-size: 29px;
    border-radius: 10px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

#banner-page .banner-page__all__third__buy button:hover,
#banner-page .banner-page__all__second__buy button:hover,
#banner-page .banner-page__all__first__buy button:hover{
    background-color: antiquewhite;
    color: var(--text-color);
}

/* banner-page__all__second */

#banner-page .banner-page__all__second__logo{
    position: absolute;
    top: 0;
    left: 15px;
}

#banner-page .banner-page__all__second__buy{
    position: absolute;
    top: 79%;
    right: 10%;
    transform: translateX(-50%);

}

#banner-page .banner-page__all__second__buy button{
    border: none;
    padding: 12px 106px;
    font-size: 29px;
    border-radius: 40px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.2s ease;
}



/* banner-page__all__third */



#banner-page .banner-page__all__third__logo{
    position: absolute;
    top: 40px;
    left: 30%;
    transform: translateX(-50%);
}


#banner-page .banner-page__all__third__buy{
    position: absolute;
    top: 80%;
    right: 55%;
    transform: translateX(-50%);
}

/* dots trong thư viện jsquery */
#banner-page .banner-page__all .slick-dots{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#banner-page .banner-page__all .slick-dots li{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#banner-page .banner-page__all .slick-dots .slick-active button{
    background-color: var(--main-color);
}

#banner-page .banner-page__all .slick-dots li button{
    border: none;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
}

/* end dots trong thư viện jsquery */


/* End banner */









/* Begin footer */
#main footer{
    margin-top: 84px;
}

#footer-page {}

#footer-page .footer-page__all{
    position: relative;
}

#footer-page .footer-page__all__info>img{
    height: 100px;
}


#footer-page .footer-page__all__info{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}
#footer-page .footer-page__all__info__first h3,
#footer-page .footer-page__all__info__second h3,
#footer-page .footer-page__all__info__third h3,
#footer-page .footer-page__all__info__fourd h3
{
    color:#9C623C;margin-bottom:12px
}



#footer-page .footer-page__all__info__first ul,
#footer-page .footer-page__all__info__second ul{
    list-style: none;
}
#footer-page .footer-page__all__info__second ul li,
#footer-page .footer-page__all__info__first ul li{
    padding: 10px 0;
}

#footer-page .footer-page__all__info__second ul li a:hover,
#footer-page .footer-page__all__info__first ul li a:hover
{
    color:var(--main-color)
}


#footer-page .footer-page__all__info__second ul li a,
#footer-page .footer-page__all__info__first ul li a{
    color:#000
}


#footer-page .footer-page__all__info__pay ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin-top: 10px;
}

#footer-page .footer-page__all__info__pay ul li{
    margin-right: 20px;
    color:#000
}

#footer-page .footer-page__all__info__pay ul li:hover{
    color:var(--main-color);
    cursor: pointer;
}   

/* end footer */





/* begin responsive */

/* desktop */
@media screen and (min-width:1024px){
/* begin header*/
#header-page .mb__header-page__menu-nav{
    display: none;
}


#mb__header-page{
    display: none;
}


/* end header*/


}
/* end destop */


/* tablet */
@media screen and (min-width:768px){

}
/* end tablet */


/* mobile */
@media screen and (max-width:767px){
    /* begin header */
   

    #mb__header-page.active_mb{
        display: block;
    }

 

    #mb__header-page{ 
        position: fixed;
        display: none;
        z-index: 3;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }   

    #mb__header-page .mb__header-page-all{
        background-color: #fff;
        width: 187px;
        position: relative;
        box-shadow: 0 0 10px #000;
       
    }

    #mb__header-page .mb__header-page__close{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
    }


    #mb__header-page ul{
        padding: 40px 0;
    }

    #mb__header-page ul li{
        padding: 15px 10px;
        color:#000
    }


    #mb__header-page ul li a{
        color:#000;
        font-weight: 600;
    }

    #mb__header-page .mb__header-page__cart,
    #mb__header-page .mb__header-page__login{
        padding: 15px 0;
        display: flex;
        margin-left: 10px;
        font-weight: 600;
    }

    #mb__header-page .mb__header-page__cart i,
    #mb__header-page .mb__header-page__login i{
        min-width: 20px;
    }



    #header-page{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }


    #header-page .mb__header-page__menu-nav{
        display: block;
        margin-left: 15px;
    }

   
    


    #header-page .header-page__logo{
        margin-left: 0px;
        text-align: center;
    }
    

    #header-page .header-page__nav{
        display: none;
        list-style: none;
        margin-left: 50px;
    }

    #header-page .header-page__search {
        margin: 0;
    }


#header-page .header-page__search input.active_in{
    display: block;
}
    #header-page .header-page__search input{
        border: none;
        border-radius: 10px;
        font-size: 16px;
        display: none;
        padding: 6px 12px;
    }


    #header-page .header-page__search span{
        font-size: 24px;
        cursor: pointer;
    }


    #header-page .header-page__info{
        display: none;
    }
    /* end header */


    /* begin banner */
    .mb__banner-page__all__first{
        display: block;
        position: relative;
        margin-top: 84px;
    }

    .mb__banner-page__all__first__logo{
        position: absolute;
        top: 5px;
        left: 15px;
    }

    
    #banner-page {
        display: none;
    }

    /* end banner */


    /* begin footer */


    #footer-page .footer-page__all>img{
        min-height: 528px;
    }

    #footer-page .footer-page__all__info>img{
        width: 50px;
        height: 50px;
    }

    #footer-page .footer-page__all__info{
        display: grid;
        position: absolute;
        top: 64%;
        transform: translateY(-50%);
        width: 100%;
        margin-top: 20px;
        gap:20px;
        justify-content: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 50px 1fr 1fr;
    }


    #footer-page .footer-page__all__info__second{
        display: none;
    }

    #footer-page .footer-page__all__info__fourd{
        grid-column: 1/5;
        text-align: center;
    }

    #footer-page .footer-page__all__info__first h3,
    #footer-page .footer-page__all__info__third h3,
    #footer-page .footer-page__all__info__fourd h3{
        font-size: 10px;
    }


    #footer-page .footer-page__all__info__first ul li,
    #footer-page .footer-page__all__info__third ul li,
    #footer-page .footer-page__all__info__fourd ul li{
        padding: 10px 0;
    }

    #footer-page .footer-page__all__info__first ul li a,
    #footer-page .footer-page__all__info__third ul li a,
    #footer-page .footer-page__all__info__fourd ul li a{
        font-size: 10px;
    }

    #footer-page .footer-page__all__info__chat p{
        font-size: 12px;
    }

    #footer-page .footer-page__all__info__pay p{
        font-size: 10px;
    }


}


/* end mobile */


/* end responsive */



