*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root{
    --main-color:#FFCB05;
    --text-color:#9C623C;

}

a{
    text-decoration: none;
}

#main{}


/* Begin header */

#main header{
    background-color: #EFEEEC;
    border-bottom: 2px solid var(--main-color);
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: all 0.2 ease;
}


/* Hiệu ứng cuộn trang header */
#main header.sticky{
}

/* end hiệu ứng cuộn trang header */


#header-page{
    display: flex;
    align-items: center;
}                       




#header-page .header-page__logo{
    margin-left: 100px;
}

#header-page .header-page__logo img{
    width: 80px;
    height: 80px;
}


#header-page .header-page__nav{
    display: flex;
    list-style: none;
    margin-left: 50px;
}

#header-page .header-page__nav li{
}

#header-page .header-page__nav li a{
    font-size: 1rem;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--text-color);
    font-weight:550;
}

#header-page .header-page__nav li a:hover{
    border-bottom: 2px solid var(--main-color);

}


#header-page .header-page__search{
    margin: 0 50px;
    position: relative;
}

#header-page .header-page__search input{
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 6px 12px;
}




#header-page .header-page__search span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}



#header-page .header-page__info{
    display: flex;
}


#header-page .header-page__info .header-page__info__login,
#header-page .header-page__info .header-page__info__cart{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    color:var(--text-color)

}

#header-page .header-page__info .header-page__info__login:hover,
#header-page .header-page__info .header-page__info__cart:hover{
    border-bottom: 2px solid var(--main-color);
}

/* End header */


/* Begin banner */

#banner-page .banner-page__all{
    margin-top: 84px;
}

#banner-page .banner-page__all__third,
#banner-page .banner-page__all__second,
#banner-page .banner-page__all__first{
    position: relative;
}

#banner-page .banner-page__all__first__logo{
    position: absolute;
    top: 20px;
    left: 80px;
}

#banner-page .banner-page__all__first__buy{
    position: absolute;
    top: 66%;
    right: 52%;
    transform: translateX(-50%);
}

#banner-page .banner-page__all__third__buy button,
#banner-page .banner-page__all__first__buy button{
    border: none;
    padding: 12px 58px;
    font-size: 29px;
    border-radius: 10px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

#banner-page .banner-page__all__third__buy button:hover,
#banner-page .banner-page__all__second__buy button:hover,
#banner-page .banner-page__all__first__buy button:hover{
    background-color: antiquewhite;
    color: var(--text-color);
}

/* banner-page__all__second */

#banner-page .banner-page__all__second__logo{
    position: absolute;
    top: 0;
    left: 15px;
}

#banner-page .banner-page__all__second__buy{
    position: absolute;
    top: 79%;
    right: 10%;
    transform: translateX(-50%);

}

#banner-page .banner-page__all__second__buy button{
    border: none;
    padding: 12px 106px;
    font-size: 29px;
    border-radius: 40px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.2s ease;
}



/* banner-page__all__third */



#banner-page .banner-page__all__third__logo{
    position: absolute;
    top: 40px;
    left: 30%;
    transform: translateX(-50%);
}


#banner-page .banner-page__all__third__buy{
    position: absolute;
    top: 80%;
    right: 55%;
    transform: translateX(-50%);
}

/* dots trong thư viện jsquery */
#banner-page .banner-page__all .slick-dots{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#banner-page .banner-page__all .slick-dots li{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#banner-page .banner-page__all .slick-dots .slick-active button{
    background-color: var(--main-color);
}

#banner-page .banner-page__all .slick-dots li button{
    border: none;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 0;
}

/* end dots trong thư viện jsquery */


/* End banner */

/* Begin content cart */
#content__box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

article {
    flex-basis: 50%;
}

article .content__box__title-cart{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color:var(--text-color);
    font-size: 24px;
}

article .content__box__nav-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
}

article .content__box__nav-cart__main{
    margin-bottom: 40px;
    border-radius: 8px;
}

article .content__box__nav-cart .content__box__nav-cart__check-cart{
    display: flex;
    gap: 8px;
    align-items: center;
}

article .content__box__nav-cart__pay-cart__money-cart{
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 700;
    font-size: 16px;
}


article .content__box__nav-cart .content__box__nav-cart__check-cart__copy{
   display: flex;
   gap:100px
}


article .content__box__nav-cart .content__box__nav-cart__pay-cart{
    display: flex;
    gap: 40px;
    flex-basis: 375px;
}
article .content__box__nav-cart .content__box__nav-cart__check-cart .content__box__nav-cart__check-cart__img img
{
    width: 100px;
}


article .content__box__nav-cart .content__box__nav-cart__pay-cart div > input{
    width: 65px;
    border-radius: 6px;
}

aside{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


aside .content__box__addres{
    display: flex;
    justify-content: space-between;
}


aside .content__box__more-addres{
    text-align: center;
    margin-top: 10px;
}

aside .content__box__sale-all{
    margin: 50px 0;
}

aside .content__box__sale{
    display: flex;
    justify-content: space-between;
}



aside .content__box__addres__apply-sale-off {
    width: 100%;
}
aside .content__box__addres__apply-sale-off input{
    width: 80%;
    border-radius: 6px;
    font-size: 24px;
    padding: 8px 14px 8px 14px;
    
}

aside .content__box__total-money{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

aside .content__box__addres__ship{
    line-height: 1.5;
    color: rgb(35, 44, 53);
    font-size: 16px;
    font-weight: 400;
}

aside .content__box__addres__add{
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color)    
}

aside .content__box__more-addres{
    line-height: 1.5;
    color: rgb(35, 44, 53);
    font-size: 16px;
    font-weight: 400;
}

aside .content__box__total-money__tem,
aside .content__box__total-money__sale,
aside .content__box__total-money__ship,
aside .content__box__total-money__total-all{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
aside .content__box__total-money__buy{
    margin-top: 40px;
}

aside .content__box__total-money__buy input{
    width: 100%;
}

aside .content__box__sale__apply input{
    border-radius: 8px;
    font-size: 18px;
    text-decoration: #000;
}

aside .content__box__total-money__buy input{
    border-radius: 32px;
    background-color: #FFCB05;
    text-decoration: brown;
    font-size: 18px;
    padding: 8px 6px 8px 6px;
}

aside .content__box__total-money__total-all__price--color{
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}



/* End content cart */


article .content__box__nav-cart__pay-cart .content__box__nav-cart__pay-cart__button{
   
}



/* Begin footer */
#main footer{
    margin-top: 84px;
}

#footer-page {}

#footer-page .footer-page__all{
    position: relative;
}


#footer-page .footer-page__all__info{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}
#footer-page .footer-page__all__info__first h3,
#footer-page .footer-page__all__info__second h3,
#footer-page .footer-page__all__info__third h3,
#footer-page .footer-page__all__info__fourd h3
{
    color:#9C623C;margin-bottom:12px
}



#footer-page .footer-page__all__info__first ul,
#footer-page .footer-page__all__info__second ul{
    list-style: none;
}
#footer-page .footer-page__all__info__second ul li,
#footer-page .footer-page__all__info__first ul li{
    padding: 10px 0;
}

#footer-page .footer-page__all__info__second ul li a:hover,
#footer-page .footer-page__all__info__first ul li a:hover
{
    color:var(--main-color)
}


#footer-page .footer-page__all__info__second ul li a,
#footer-page .footer-page__all__info__first ul li a{
    color:#000
}


#footer-page .footer-page__all__info__pay ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin-top: 10px;
}

#footer-page .footer-page__all__info__pay ul li{
    margin-right: 20px;
    color:#000
}

#footer-page .footer-page__all__info__pay ul li:hover{
    color:var(--main-color);
    cursor: pointer;
}   

/* end footer */

