<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên hệ</title>
    <link rel="stylesheet" href="/user/front/fontawesome-free-6.5.2-web/css/all.css">
    <link rel="stylesheet" href="/user/upload/css/index.css">
</head>
<body>
    <!-- Bảo -->
    <div id="main">
        <!-- Begin header -->
        <header>
            <div id="mb__header-page">
                <div class="mb__header-page-all js-mb-header-all">
                    <div class="mb__header-page__close js-mb-close">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </div>
                    <ul>
                        <li><a class="" href="/user/index.html">TRANG CHỦ</a></li>
                        <li><a class="" href="/user/app/view/menu1.html">SẢN PHẨM</a></li>
                        <li><a class="" href="store.html">CỬA HÀNG</a></li>
                        <li><a class="" href="">TIN TỨC</a></li>
                        <li><a class="active-head" href="">LIÊN HỆ</a></li>
                        <a href="cart.html">
                            <div class="mb__header-page__cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <p>Giỏ hàng</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="mb__header-page__login">
                                <i class="fa-solid fa-user"></i>
                                <p>Đăng nhập</p>
                            </div>
                        </a>
                    </ul>
                </div>

            </div>
            
            <div id="header-page">
                <div id="js_menu_mb" class="mb__header-page__menu-nav">
                    <i style="font-size: 24px;" class="fa-solid fa-bars"></i>
                </div>
                <div class="header-page__logo">
                    <img src="/user/img/__-removebg-preview.png" alt="">
                </div>
                <ul class="header-page__nav">
                    <li><a class="" href="/user/index.html">Trang chủ</a></li>
                    <li><a class="" href="/user/app/view/menu1.html">Sản phẩm</a></li>
                    <li><a class="" href="store.html">Cửa hàng</a></li>
                    <li><a class="" href="#">Tin tức</a></li>
                    <li><a class="active-head" href="#">Liên hệ</a></li>
                </ul>
                <div class="header-page__search">
                    <input type="text" name="" id="" placeholder="Trà sữa">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                <div class="header-page__info">
                    <a href="cart.html">
                        <div class="header-page__info__cart">
                            <span><i class="fa-solid fa-cart-shopping"></i></span>
                            <h3 style="margin-left: 5px;">Giỏ hàng</h3>
                        </div>
                    </a>
                    <a href="#">
                        <div class="header-page__info__login">
                            <span><i class="fa-solid fa-user"></i></span>
                            <h3 style="margin-left: 5px;">Đăng nhập</h3>
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <!-- End header -->


        <!-- Begin content -->
        <div id="content"></div>
        
    

        <!-- End content -->


        <!-- Begin footer -->
         <footer>
            <div id="footer-page">
                <div class="footer-page__all">
                    <img width="100%" src="/user/img/bg-footer-lg.jpg" alt="">
                    <div class="footer-page__all__info">
                        <img width="100px" src="/user/img/__-removebg-preview.png" alt="">
                        <div class="footer-page__all__info__first">
                            <h3 >VỀ CHÚNG TÔI</h3>
                            <ul>
                                <li><a href="">Giới thiệu về công ty</a></li>
                                <li><a href="">Chính sách bảo mật</a></li>
                                <li><a href="">Quy chế hoạt động</a></li>
                                <li><a href="">Kiểm tra hóa đơn điện tử</a></li>
                                <li><a href="">Câu hỏi thường gặp khi mùa hàng</a></li>
                            </ul>
                        </div>
                        <div class="footer-page__all__info__second">
                            <h3 >CỬA HÀNG</h3>
                            <ul >
                                <li><a href="">Hệ thống cửa hàng</a></li>
                                <li><a href="">Chính sách sản phẩm</a></li>
                                <li><a href="">Tin tuyển dụng</a></li>
                                <li><a href="">Tin khuyến mãi</a></li>
                            </ul>
                        </div>
                        <div class="footer-page__all__info__third">
                            <h3>LIÊN HỆ</h3>
                            <di v class="footer-page__all__info__chat">
                                <p>Tư vấn mua hàng (Miễn phí)</p>
                                <h3 >1800 6601 <small>(Nhánh 1)</small></h3>
                            </di> 
                            <div class="footer-page__all__info__chat">
                                <p>Góp ý khuyến nại (8h00 - 22h00)</p>
                                <h3 >1800 6601</h3>
                            </div> 
                            <div class="footer-page__all__info__pay">
                                <p>Hỗ trợ thanh toán nước ngoài</p>
                                <ul>
                                    <a href="#">
                                        <li><i class="fa-brands fa-paypal"></i></li>
                                    </a>
                                    <a href="#">
                                        <li><i class="fa-brands fa-cc-visa"></i></li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-page__all__info__fourd">
                            <h3 >Copyrights <i class="fa-solid fa-copyright"></i> 2024 by Mingle With Tea</h3>
                        </div> 
                    </div>
                </div>

            </div>

         </footer>
        <!-- End footer -->

    </div>
   
</body>
<script
type="text/javascript"
src="https://code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
type="text/javascript"
src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>
<script
type="text/javascript"
src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script src="/user/upload/js/index.js"></script>
</html>